
body{
    font-family: sans-serif;
    background-color:#93C5FD;
}


.main-container{
    margin:100px 400px;
    background-color: #1E40AF;
    text-align: center;
    padding-bottom: 30px;
}

input{
    margin-top:10px;
    margin-left:90px;
    width: 400px;
    height:25px;
}

/* label{
    
} */


button{
    width:60px;
    text-align: center;
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    padding:8px;
    background-color:white;
    color:#1E40AF;
    font-weight: 800;
    cursor: pointer;
    border: 2px solid #1E40AF;

}



.container{
    display:flex;
    flex-direction:column;
    width: 40vw;
    color:white;
    text-align: center;
    
}


.hidden{
    display: none;
}


caption{
    margin-bottom:20px;
}


.change-table{
    color:white;
    margin-top:50px;
    margin-left:80px;

    
}

.change-table,th,td{
    border: 1px solid white;
    border-collapse: collapse;
    padding:15px;
}

td{
    margin-left:100px;
}

